@font-face {
	font-family: "Press Start 2P";
	src: url("../../assets/fonts/PressStart2P-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sixtyfour";
	src: url("../../assets/fonts/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}