#app {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Press Start 2P", sans-serif;
	color: var(--c_text);

	--c_bg: #0B0D17;
	--c_bg__surface: #1A1D2E; 
	--c_secondary: #660099;
	--c_secondary__accent: #9933CC;
	--c_highlight: #FFD700;
	--c_highlight__accent: #FFCC33;
	--c_error: #CC2255;
	--c_text: #F5F5F5;
	--c_text__muted: #C7C7C7;
	--c_text__error: #FF3366;
	--c_placeholder: #7F7F7F;
}

input {
	box-sizing: border-box;
	outline: none;
	border: none;
	font-size: 1rem;
	font-family: "Press Start 2P", sans-serif;
	color: var(--c_text);
}

button {
	font-size: 1rem;
	border: none;
	font-family: "Press Start 2P", sans-serif;
}